<section>
    <div class="row">
        <div class="col-md-4 vertical-align">
            <img src="http://dummyimage.com/150x200/000/ffffff.png" class="img-responsive img-thumbnail center-block" alt="Responsive image">
        </div>
        <div class="col-md-8 col-sm-8">
            <h4 class="list-group-item-heading">{{item.name}}</h4>
            <p class="list-group-item-text">{{item.description}}</p>
            <!--<a class="list-group-item-info" href="http://localhost:9000/#activities/{{item.urlextensionid}}">{{'Visa aktivitetsdetaljer'}}</a>-->
            <a class="list-group-item-info" href="http://easyact-portfolio80.rhcloud.com/#activities/{{item.urlextensionid}}">{{'Visa aktivitetsdetaljer'}}</a>
        </div>
        <div>
        </div>
    </div>
</section>