<!-- Product review list -->
<ul>
    <h4>Omdömen</h4>
    <li ng-repeat="review in reviewedProduct.reviews">
        <blockquote>
            <strong>{{review.stars}} Stars</strong>
            {{review.body}}
            <cite class="clearfix">-{{review.author}} on {{review.createdOn | date}}</cite>
        </blockquote>
    </li>
</ul>

<!-- Review Form -->
<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
      ng-submit="reviewForm.$valid && reviewCtrl.addReview(activity)" novalidate>

    <!-- Live preview -->
    <blockquote>
        <strong>Betyg: {{reviewCtrl.review.stars}}</strong>
        {{reviewCtrl.review.body}}
        <cite class="clearfix">-{{reviewCtrl.review.author}}</cite>
    </blockquote>

    <!-- Review Form -->
    <h4>Skriv ett omdöme</h4>

    <fieldset class="form-group">
        <select class="form-control" title="Stars" ng-options="stars for stars in [5,4,3,2,1]" ng-model="reviewCtrl.review.stars" required>
            <option value="">Betygsätt aktiviteten</option>
        </select>
    </fieldset>

    <fieldset class="form-group">
        <textarea class="form-control" placeholder="Skriv ett kort omdöme om aktiviteten..."
                  ng-model="reviewCtrl.review.body" title="Review">
        </textarea>
    </fieldset>

    <fieldset class="form-group">
        <input type="email" class="form-control" title="Email" ng-model="reviewCtrl.review.author" required/>
    </fieldset>
    <fieldset>
        <input type="submit" class="btn btn-primary pull-right" value="Skicka omdöme" />
    </fieldset>

</form>