<div id="detailed-container" xmlns="http://www.w3.org/1999/html">
    <div class="row">
            <!--<img src="http://dummyimage.com/150x200/000/ffffff.png" class="img-responsive img-thumbnail center-block" alt="Responsive image">-->
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-info" ng-cloak>
                <div class="panel-heading">
                    <h3 class="panel-title">{{activity.name}}</h3>
                </div>
                <div class="panel-body">
                    <div>
                        <p>{{activity.description}}</p>
                    </div>
                    <address>
                        {{activity.address.street}}<br>
                        {{activity.address.postalcode}}<br>
                        {{activity.address.city}}<br>
                    </address>
                    <address>
                        <span class="glyphicon glyphicon-phone"></span> {{activity.contact.tel}}<br>
                        <span class="glyphicon glyphicon-envelope"></span> {{activity.contact.email}}<br>
                        <span class="glyphicon glyphicon-globe"></span> {{activity.contact.website}}<br>
                    </address>
                    <div>
                        <a ng-href="{{activity.bookinglink}}" class="btn btn-success" ng-show="activity.booking" target="_blank">Boka aktivitet</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" class="col-md-6 angular-google-map-container"></div>
    </div>
    <div class="row">
        <!--<div id="map" class="col-md-8 col-md-offset-4 angular-google-map-container"></div>-->
        <!-- Angular-Google-Maps unfortunately does not support google maps DirectionsSercvice API -->
        <!-- <ui-gmap-google-map center="{ latitude: 56, longitude: 16 }" zoom="7"></ui-gmap-google-map> -->

        <!--TODO: Make the map a directive when I know how to do it.-->
        <!--<directions-map activity="activity"></directions-map>-->
    </div>
</div>
