<div class="container">

    <div class="jumbotron text-center" ng-controller="AppCtrl">
        <h1><span class="fa fa-lock"></span> Act Easy - Login</h1>

        <p>Login with:</p>

        <!--<a href="//localhost:8000/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>-->
        <a href="//easyact-portfolio80.rhcloud.com/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

        <div class="alert alert-dismissable alert-danger" ng-show="showResponse">
            <button class="close" data-dismiss="alert" type="button">×</button>
            <p>{{loginResponse}}</p>
        </div>
    </div>

</div>