<div ng-controller="ActivityListCtrl as activitiesCtrl">
  <button class="btn btn default btn-sm" ng-click="activitiesCtrl.showAll()">Alla</button>
  <button class="btn btn default btn-sm" ng-click="activitiesCtrl.showIndoorsOnly()">Inomhus</button>
  <button class="btn btn default btn-sm" ng-click="activitiesCtrl.showOutdoorsOnly()">Utomhus</button>
  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="activity in activitiesCtrl.activities | orderBy: '-score'"
        ng-show="(activitiesCtrl.showOutdoors && !activity.indoors) || (activitiesCtrl.showIndoors && activity.indoors)">
      <activity item="activity"></activity>
      <header>
        <h4>{{activity.score + ' points'}}</h4>
      </header>
    </li>
  </ul>
  <a href="//localhost:8000/logout" class="btn btn-default btn-sm">Logout</a>
</div>
<!--<activities ng-transclude=""><activity></activity></activities>-->
