<div id="activities-container" ng-controller="ActivityListCtrl as activitiesCtrl">
  <div id="offline" ng-show="offline">You are offline!</div>
  <!-- TODO: Bad implementation for tabs, refactor and create a tab-group directive. -->

  <!-- Login confirm -->
  <div class="alert alert-dismissable alert-success" ng-if="activitiesCtrl.user">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.user.name}}</p>
    <p>{{activitiesCtrl.user.email}}</p>
    <p>Du är nu inloggad i aktivitetslistan...</p>
  </div>

  <!-- Let the user know about offline mode -->
  <div class="alert alert-dismissable alert-info" ng-if="activitiesCtrl.offlineMessage">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.offlineMessage}}</p>
  </div>

  <!-- Inform user about denied geolocation  -->
  <div class="alert alert-dismissable alert-info" ng-if="activitiesCtrl.geoLocationDenied">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.geoLocationDenied}}</p>
  </div>

  <!-- Inform user if external API is down  -->
  <div class="alert alert-dismissable alert-info" ng-if="activitiesCtrl.apiDownMessage">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.apiDownMessage}}</p>
  </div>

  <!-- Inform of internal server error -->
  <div class="alert alert-dismissable alert-danger" ng-if="activitiesCtrl.serverErrorMessage">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.serverErrorMessage}}</p>
  </div>

  <div ng-init="tab=1" ng-if="!activitiesCtrl.activitiesError && !activitiesCtrl.serverErrorMessage">
    <button ng-class="{ active: tab===1 }" class="btn btn default btn-sm" ng-click="activitiesCtrl.showAll(); tab=1">Alla</button>
    <button ng-class="{ active: tab===2 }" class="btn btn default btn-sm" ng-click="activitiesCtrl.showIndoorsOnly(); tab=2">Inomhus</button>
    <button ng-class="{ active: tab===3 }" class="btn btn default btn-sm" ng-click="activitiesCtrl.showOutdoorsOnly(); tab=3">Utomhus</button>
  </div>

  <!-- If JSON Hijacking or other problems from server. -->
  <div class="alert alert-dismissable alert-danger" ng-if="activitiesCtrl.activitiesError">
    <button class="close" data-dismiss="alert" type="button">×</button>
    <p>{{activitiesCtrl.activitiesError}}</p>
  </div>

  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="activity in activitiesCtrl.activities | orderBy: '-score'"
        ng-show="(activitiesCtrl.showOutdoors && !activity.indoors) || (activitiesCtrl.showIndoors && activity.indoors)">

      <activity item="activity"></activity>
      <header>
        <h4>{{activity.score + ' points'}}</h4>
      </header>
    </li>
  </ul>
  <!--<a href="//localhost:8000/logout" class="btn btn-default btn-sm">Logout</a>-->
</div>
<!--<activities ng-transclude=""><activity></activity></activities>-->
